# Created by .ignore support plugin (hsz.mobi)
01-primary2/target/generated-sources/
01-primary2/target/generated-test-sources/
01-primary2/target/test-classes/
02-socket/target/generated-sources/
02-socket/target/generated-test-sources/
02-socket/target/test-classes/
03-stickybag/target/generated-sources/
03-stickybag/target/generated-test-sources/
03-stickybag/target/test-classes/
03-unpacking/target/generated-sources/
03-unpacking/target/generated-test-sources/
03-unpacking/target/test-classes/
04-delimiterBasedFrameDecoder/target/generated-sources/
04-delimiterBasedFrameDecoder/target/generated-test-sources/
04-delimiterBasedFrameDecoder/target/test-classes/
04-fixedLengFrameDecoder/target/generated-sources/
04-fixedLengFrameDecoder/target/generated-test-sources/
04-fixedLengFrameDecoder/target/test-classes/
04-lengthFieldBasedFrameDecoder/target/generated-sources/
04-lengthFieldBasedFrameDecoder/target/generated-test-sources/
04-lengthFieldBasedFrameDecoder/target/test-classes/
04-lineBasedFrameDecoder/target/generated-sources/
04-lineBasedFrameDecoder/target/generated-test-sources/
04-lineBasedFrameDecoder/target/test-classes/
05-websocket/target/generated-sources/
05-websocket/target/generated-test-sources/
05-websocket/target/test-classes/
06-webchat/target/generated-sources/
06-webchat/target/generated-test-sources/
06-webchat/target/test-classes/
07-idle/target/generated-sources/
07-idle/target/generated-test-sources/
07-idle/target/test-classes/
09-heartbeat/target/generated-sources/
09-heartbeat/target/generated-test-sources/
09-heartbeat/target/test-classes/
09-heartbeat2/target/generated-sources/
09-heartbeat2/target/generated-test-sources/
09-heartbeat2/target/test-classes/
NettyPro/src/
netty-demo/01_primary/src/main/resources/
netty-demo/01_primary/src/test/
netty-demo/01_primary/target/generated-sources/
netty-demo/01_primary/target/generated-test-sources/
netty-demo/01_primary/target/test-classes/
netty-demo/02_socket/src/main/resources/
netty-demo/02_socket/src/test/
netty-demo/02_socket/target/generated-sources/
netty-demo/03_unpacking/src/main/java/com/learn/server/
netty-demo/03_unpacking/src/main/resources/
netty-demo/03_unpacking/src/test/
netty-demo/10-rpc-api/src/main/resources/
netty-demo/10-rpc-api/src/test/
netty-demo/10-rpc-client/src/
netty-demo/10-rpc-server/src/main/resources/
netty-demo/10-rpc-server/src/test/
NettyPro/target/
